In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('data.csv')

In [3]:
df.head()

,Series Name,Series Code,Country Name,Country Code,2005 [YR2005],2006 [YR2006],2007 [YR2007],2008 [YR2008],2009 [YR2009],2010 [YR2010],2011 [YR2011],2012 [YR2012],2013 [YR2013],2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018],2019 [YR2019],2020 [YR2020]
0,"Air transport, registered carrier departures w...",IS.AIR.DPRT,Afghanistan,AFG,..,..,..,..,..,21677,25021,17775,21696,25920,23532,22770,24207,10454,7334,..
1,"Air transport, registered carrier departures w...",IS.AIR.DPRT,Albania,ALB,4309,4481,4930,5058,5140,9412,10373.2109418273,10309.1791376912,11196,1992,..,306,1904,2935,2558,..
2,"Air transport, registered carrier departures w...",IS.AIR.DPRT,Algeria,DZA,45692,44822,44136,31026,52731,53088,53286,54292,55516,60066,65940,73465,74714,77463,76001,..
3,"Air transport, registered carrier departures w...",IS.AIR.DPRT,American Samoa,ASM,..,..,..,..,..,3420.57075456399,3577.61386138614,3963.0036477332,8580,9144,..,..,..,..,..,..
4,"Air transport, registered carrier departures w...",IS.AIR.DPRT,Andorra,AND,..,..,..,..,..,..,..,..,..,..,..,..,..,..,..,..

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1061 entries, 0 to 1060
Data columns (total 20 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Series Name    1058 non-null   object
 1   Series Code    1056 non-null   object
 2   Country Name   1056 non-null   object
 3   Country Code   1056 non-null   object
 4   2005 [YR2005]  1056 non-null   object
 5   2006 [YR2006]  1056 non-null   object
 6   2007 [YR2007]  1056 non-null   object
 7   2008 [YR2008]  1056 non-null   object
 8   2009 [YR2009]  1056 non-null   object
 9   2010 [YR2010]  1056 non-null   object
 10  2011 [YR2011]  1056 non-null   object
 11  2012 [YR2012]  1056 non-null   object
 12  2013 [YR2013]  1056 non-null   object
 13  2014 [YR2014]  1056 non-null   object
 14  2015 [YR2015]  1056 non-null   object
 15  2016 [YR2016]  1056 non-null   object
 16  2017 [YR2017]  1056 non-null   object
 17  2018 [YR2018]  1056 non-null   object
 18  2019 [YR2019]  1056 non-null   object
 19  2020 [YR2020]  1056 non-null   object
dtypes: object(20)
memory usage: 165.9+ KB

In [18]:
#tạo DataFrame
df = pd.read_csv('data.csv')
print(df)

                                            Series Name  Series Code  \
0     Air transport, registered carrier departures w...  IS.AIR.DPRT
1     Air transport, registered carrier departures w...  IS.AIR.DPRT
2     Air transport, registered carrier departures w...  IS.AIR.DPRT
3     Air transport, registered carrier departures w...  IS.AIR.DPRT
4     Air transport, registered carrier departures w...  IS.AIR.DPRT
...                                                 ...          ...
1056                                                NaN          NaN
1057                                                NaN          NaN
1058                                                NaN          NaN
1059   Data from database: World Development Indicators          NaN
1060                           Last Updated: 05/25/2021          NaN

        Country Name Country Code 2005 [YR2005] 2006 [YR2006] 2007 [YR2007]  \
0        Afghanistan          AFG            ..            ..            ..
1            Albania          ALB          4309          4481          4930
2            Algeria          DZA         45692         44822         44136
3     American Samoa          ASM            ..            ..            ..
4            Andorra          AND            ..            ..            ..
...              ...          ...           ...           ...           ...
1056             NaN          NaN           NaN           NaN           NaN
1057             NaN          NaN           NaN           NaN           NaN
1058             NaN          NaN           NaN           NaN           NaN
1059             NaN          NaN           NaN           NaN           NaN
1060             NaN          NaN           NaN           NaN           NaN

     2008 [YR2008] 2009 [YR2009]     2010 [YR2010]     2011 [YR2011]  \
0               ..            ..             21677             25021
1             5058          5140              9412  10373.2109418273
2            31026         52731             53088             53286
3               ..            ..  3420.57075456399  3577.61386138614
4               ..            ..                ..                ..
...            ...           ...               ...               ...
1056           NaN           NaN               NaN               NaN
1057           NaN           NaN               NaN               NaN
1058           NaN           NaN               NaN               NaN
1059           NaN           NaN               NaN               NaN
1060           NaN           NaN               NaN               NaN

         2012 [YR2012] 2013 [YR2013] 2014 [YR2014] 2015 [YR2015]  \
0                17775         21696         25920         23532
1     10309.1791376912         11196          1992            ..
2                54292         55516         60066         65940
3      3963.0036477332          8580          9144            ..
4                   ..            ..            ..            ..
...                ...           ...           ...           ...
1056               NaN           NaN           NaN           NaN
1057               NaN           NaN           NaN           NaN
1058               NaN           NaN           NaN           NaN
1059               NaN           NaN           NaN           NaN
1060               NaN           NaN           NaN           NaN

     2016 [YR2016] 2017 [YR2017] 2018 [YR2018] 2019 [YR2019] 2020 [YR2020]
0            22770         24207         10454          7334            ..
1              306          1904          2935          2558            ..
2            73465         74714         77463         76001            ..
3               ..            ..            ..            ..            ..
4               ..            ..            ..            ..            ..
...            ...           ...           ...           ...           ...
1056           NaN           NaN           NaN           NaN           NaN
1057           NaN           NaN           NaN           NaN           NaN
1058           NaN           NaN           NaN           NaN           NaN
1059           NaN           NaN           NaN           NaN           NaN
1060           NaN           NaN           NaN           NaN           NaN

[1061 rows x 20 columns]

In [16]:
# Xóa cột 'Country Name'
df = df.drop(columns=['Country Name'])
print("\nDataFrame sau khi xóa cột 'Country Name':")
print(df)

DataFrame sau khi xóa cột 'Country Name':
                                            Series Name  Series Code  \
0     Air transport, registered carrier departures w...  IS.AIR.DPRT
1     Air transport, registered carrier departures w...  IS.AIR.DPRT
2     Air transport, registered carrier departures w...  IS.AIR.DPRT
3     Air transport, registered carrier departures w...  IS.AIR.DPRT
4     Air transport, registered carrier departures w...  IS.AIR.DPRT
...                                                 ...          ...
1056                                                NaN          NaN
1057                                                NaN          NaN
1058                                                NaN          NaN
1059   Data from database: World Development Indicators          NaN
1060                           Last Updated: 05/25/2021          NaN

     Country Code 2005 [YR2005] 2006 [YR2006] 2007 [YR2007] 2008 [YR2008]  \
0             AFG            ..            ..            ..            ..
1             ALB          4309          4481          4930          5058
2             DZA         45692         44822         44136         31026
3             ASM            ..            ..            ..            ..
4             AND            ..            ..            ..            ..
...           ...           ...           ...           ...           ...
1056          NaN           NaN           NaN           NaN           NaN
1057          NaN           NaN           NaN           NaN           NaN
1058          NaN           NaN           NaN           NaN           NaN
1059          NaN           NaN           NaN           NaN           NaN
1060          NaN           NaN           NaN           NaN           NaN

     2009 [YR2009]     2010 [YR2010]     2011 [YR2011]     2012 [YR2012]  \
0               ..             21677             25021             17775
1             5140              9412  10373.2109418273  10309.1791376912
2            52731             53088             53286             54292
3               ..  3420.57075456399  3577.61386138614   3963.0036477332
4               ..                ..                ..                ..
...            ...               ...               ...               ...
1056           NaN               NaN               NaN               NaN
1057           NaN               NaN               NaN               NaN
1058           NaN               NaN               NaN               NaN
1059           NaN               NaN               NaN               NaN
1060           NaN               NaN               NaN               NaN

     2013 [YR2013] 2014 [YR2014] 2015 [YR2015] 2016 [YR2016] 2017 [YR2017]  \
0            21696         25920         23532         22770         24207
1            11196          1992            ..           306          1904
2            55516         60066         65940         73465         74714
3             8580          9144            ..            ..            ..
4               ..            ..            ..            ..            ..
...            ...           ...           ...           ...           ...
1056           NaN           NaN           NaN           NaN           NaN
1057           NaN           NaN           NaN           NaN           NaN
1058           NaN           NaN           NaN           NaN           NaN
1059           NaN           NaN           NaN           NaN           NaN
1060           NaN           NaN           NaN           NaN           NaN

     2018 [YR2018] 2019 [YR2019] 2020 [YR2020]
0            10454          7334            ..
1             2935          2558            ..
2            77463         76001            ..
3               ..            ..            ..
4               ..            ..            ..
...            ...           ...           ...
1056           NaN           NaN           NaN
1057           NaN           NaN           NaN
1058           NaN           NaN           NaN
1059           NaN           NaN           NaN
1060           NaN           NaN           NaN

[1061 rows x 19 columns]